/* 
    Seth Kerrey
    style.css
*/

body {
    margin: 50px;
    font-family: 'Lora', serif;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin-bottom: 20px;
}

.header-left {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif
}

.header-right {
    font-size: 1.5em;
}

main {
    width: 80%;
    margin: 70px auto 0 auto;
}

footer {
    clear: left;
    border-top: 1px solid black;
    position:absolute;
    bottom:0;
    width: 95%;
    height: 60px;
    padding: 10px 20px;
    text-align: center;
}
.landing-page-text {
    width: 700px; 
    height: 510px;
    background-color: aquamarine;
    float: left;
}

.landing-page-img {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-auto-rows: 250px;
    grid-gap: 10px;
    padding-left: 10px;
    }

.box1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
    }

.box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;  
    background-color: pink;
}

.box3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: royalblue;
}
.box4 {
    background-color: skyblue;
}


