/* 
    Seth Kerrey
    style.css
*/

/* 
    Color scheme 

        monochromatic: 
        #22517A #91CAFB #46A6FA #3C5D7A #3884C7

        split complimentary:
        #AD6642 #FA8B52 #46A6FA #AD931F #FAD639

    Font Family:
        
        font-family: 'Poppins', sans-serif;
        font-family: 'Lora', serif; 
        font-family: 'Metrophobic', sans-serif;
    
*/

/* -------------------------- Body / Header / Main / Footer --------------------------- */ 
body {
    font-family: 'Metrophobic', sans-serif;
    margin: auto;
    background-image: url("img/background3.png");
}

header {
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    padding: 0px 50px;
    margin: 30px;
}

.header-left {
    font-size: 2em;
    font-weight: bold;
    font-family: "Poppins", sans-serif
}

.header-right {
    font-size: 2em;
    font-family: 'Lora', serif; 
    word-spacing: 10px;
}
 
main {
    margin: auto;
    padding: 0 20px;

} 

footer {
    border-top: 2px solid black;
    margin: 20px 30px 30px 30px;
    padding: 10px 0px;
    text-align: center;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover { 
    color: black;
}
