/* 
    Seth Kerrey
    style.css
*/

/* 
    Color scheme 

    monochromatic: 
    #22517A #91CAFB #46A6FA #3C5D7A #3884C7

    split complimentary:
    #AD6642 #FA8B52 #46A6FA #AD931F #FAD639
*/

/* -------------------------- Body / Header / Main / Footer --------------------------- */ 
body {
    margin: 50px;
    font-family: 'Metrophobic', sans-serif;
}

header {
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    padding: 0px 50px;
    margin: 30px;
}

.header-left {
    font-size: 2em;
    font-weight: bold;
    font-family: "Poppins", sans-serif
}

.header-right {
    font-size: 2em;
    font-family: 'Lora', serif; 
    word-spacing: 10px;
}

main {
    width: 80%; 
    margin: auto;
}

footer {
    clear: left;
    border-top: 2px solid black;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
}

/* ----------------------------------- Landing Page ----------------------------------- */ 

.landing-page-main {
    width: 700px; 
    height: 520px;
    background-color: aquamarine;
    float: left;
}

.landing-page-sub {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-auto-rows: 250px;
    grid-gap: 20px;
    padding-left: 20px;
    }

.box1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
    }

.box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;  
    background-color: pink;
}

.box3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: royalblue;
}
.box4 {
    background-color: skyblue;
}

/* ----------------------------------- Hobby Page ----------------------------------- */ 

.about-page-main {
    display: flex;
    justify-content: space-evenly;
}

.box1-1, .box1-2, .box1-3 {
    height: 520px;
    width: 460px;
    border: 1px solid black;
}

/* ----------------------------------- About Page ----------------------------------- */ 

.about-page {
    display: flex;
}

.box2-1 {
    height: 520px;
    width: 520px;
    border: 1px solid black;
}

.box2-2 {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: auto 26% auto auto;
}

.box2-3 {
    height: 520px;
    width: 400px;
    border: 1px solid black;
    position: absolute;
    top: 15%; 
    left: 65%;
}


/* ----------------------------------- Links ---------------------------------------- */ 

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover { 
    color: black;
}
